services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    volumes:
      - log-data:/var/log/leszmonitor
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "7001:7001"
    volumes:
      - log-data:/var/log/leszmonitor
      - type: bind
        source: ./backend/src
        target: /app/src
        read_only: true
    env_file:
      - ./backend/.env
    environment:
      - MONGODB_URI=mongodb://mongodb:27017
      - LOG_FILE_PATH=/var/log/leszmonitor/backend.log
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  log-data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/.logs
      o: bind